---
import "../styles/global.css";
import GalaxyWrapper from "../components/GalaxyWrapper.svelte";
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<title>Local Galaxy Explorer - Andromeda Space Explorer</title>
<div id="galaxy-container">
  <GalaxyWrapper client:only="svelte" />
</div>
<style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #galaxy-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
</style>