---
import { ViewTransitions } from "astro:transitions";
import GlobalStyles from "@/components/GlobalStyles.astro";

const { content, lang = "en" } = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <ViewTransitions />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <GlobalStyles />
    <title>{content.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
